body {
    overflow-x: hidden !important;
}
.slick-slider .testimonial-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: cover;
}

.slick-slider .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.slick-slider .testimonial-feedback {
    font-size: 19px;
    color: #dbdbdb;
    font-style: italic;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.slick-slider .quote-icon {
    fill: #ccc;
}